html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arial", Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

#skip {
  color: black;
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

#skip:focus {
  right: auto;
}

header {
  background-color: #b0c4de;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2.4em;
}

#navigation {
  width: 25%;
}

#navigation button {
  display: none;
}

.nav-links {
  display: block;
  padding: 0;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline-block;
}

.left {
  float: left;
  text-align: center;
  width: 40%;
  padding: 2em;
}

.right {
  float: left;
  width: 60%;
}

.contact{
  background-color: #e5e5e5;
  color: gray;
  text-align: center;
  padding: 1em;
}

@media only screen and (max-width: 768px) {
  #navigation button {
    display: block;
  }
  .nav-links {
    display: none;
  }

  #navigation ul li {
    display: block;
  }

  .left, .right, .contact {
    width: 100%
  }
}

/*
 *
 * This is kept below the media query
 * so that it would be the one on top of the cascade
 *
 */
.open {
  display: block;
  z-index: 50;
  width: 100vw;
  position: absolute;
  left: 0;
  text-align: center;
  top: 70px;
  background-color: white;
}

.open li {
  padding: 1em 0;
}


.left h1 {
  color: #0162a5;
}

.left p {
  font-size: 2vw;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  position: center;
  background-color: white;
  font-size: 0.8em;
  padding: 0.5em 1em;
}

.team {
  background-color: #e7cda6;
  padding: 1em;
}